.nav-bar nav {
    height: 50px;
    background-color: #f72210;
}

.svg-stylez {
    fill:white; 
    width:202px; 
    position:absolute; 
    top:20px; 
    left:10px;
}

.box-1 {
    width: 80px;
    height: 26px;
}

.daddy-1 {
    margin: 10px;
}

.margin-icon {
    margin: -5px;
    margin-left: 5px;
}

.a-back {
    display:flex;
    flex-basis: 100%;
    color: white;
    font-size: 18px;
    padding: 6px 12px;
}

.a-background {
    background-color: white;
    color: #f72210;
    display:flex;
    flex-basis: 100%;
    font-size: 18px;
    padding: 6px 12px;
}

.icon-1 {
    padding: 6px 12px;
}

.daddyo-1 {
    display:flex;
    flex-direction: column;
    width: 100%;
}

.text-1 {
    color: rgba(3,3,3,.4);
}

.image-1 {
    max-width: 720px;
    max-height: 445px;
    vertical-align: middle;
    
}

.flex-daddy {
    display:flex;
    flex-direction: row;
    width: 100%;
}

.espacio {
    margin: 10px;
}

h3 {
    margin: 10px;
}

.caja-1 {
    width: 
}

@media screen and (min-width: 700px){

}